<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:util="http://www.springframework.org/schema/util"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/util
	                    http://www.springframework.org/schema/util/spring-util.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
					 	http://www.springframework.org/schema/context
					 	http://www.springframework.org/schema/context/spring-context.xsd
					 	">

    <!-- 配置扫描com.ntc.gaia.web.controller包下所有标有注解的类文件-->
    <context:annotation-config />
    <context:component-scan base-package="com.ntc.gaia.web.controller">
    </context:component-scan>


    <!-- 加载部署配置文件 -->
    <bean id="configProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="fileEncoding" value="UTF-8" />
        <property name="locations">
            <list>
                <value>classpath:hettyclient.properties</value>
            </list>
        </property>
    </bean>
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="configProperties" />
    </bean>

    <!-- 配置 RPC代理 -->
    <bean id="rpcProxy" class="com.ntc.gaia.base.rpc.hetty.client.RpcProxy">
        <property name="overloadEnabled" value="true" />
        <constructor-arg name="host" value="${hetty.host}" />
        <constructor-arg name="port" value="${hetty.port}" />
        <constructor-arg name="user" value="${hetty.user}" />
        <constructor-arg name="password" value="${hetty.password}" />
    </bean>
</beans>
